body > h2{
    margin-top: 150px;
    text-align: center;
    font-size: 1.75rem;
    font-family: Wotfard;
}
#reservations-list{
    width: 100%;
    margin-top: 75px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 12px;
    padding-left: 0;
    padding-right: 10px;
    list-style-type: none;
    justify-content: center;
}

.reservation-item{
    width: calc(100% / 3 - 48px);
    min-width: calc(400px - 4vw);
    height: calc(150px + 2vw);
    border-radius: 5px;
    box-shadow: 1px 1px 8px 4px #ccc;
    padding: 24px 24px;
    position: relative;
}

.reservation-item[data-past="false"][data-soon="true"]{
    outline: 1px solid #f5c542;
}
.reservation-item[data-past="false"][data-soon="false"]{
    outline: 1px solid #4caf50;
}
.reservation-item[data-past="true"]{
    outline: 1px solid #f44336;
}

.reservation-btns-delete{
    display: none;
}


.reservation-item:hover
.reservation-btns-delete{
    position: absolute;
    display: flex;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
}

.reservation-btns-delete:hover{
    fill: #f44336;
}


.reservation-item:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s transform;
}

.reservation-item > figure{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 0px 12px;
}

.reservation-item > figure > img{
    width: calc(32px + 1vw);
    height: calc(32px + 1vw);
    object-fit: cover;
    border-radius: 50%;
}

.reservation-info{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2px 0px;
}