
.signin header{
    text-align: center;
    padding: 5rem clamp(1rem, 10%, 5rem);
    display: flex;
    flex-direction: column;
    row-gap: 1.65rem;
    color: var(--var-primary)
}

form fieldset{
    border: none;
    padding: rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
}

form{
    width: clamp(250px, 50%, 500px);
}

body > article{
    margin-top: 75px;
}

form fieldset div{
    border: none;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
form fieldset div input{
    padding: 14px 18px;
    border-radius: 4px;
    outline: 1px solid #ccc;
    border: none;
}
form fieldset div input:focus{
    border: none;
    outline: 1px solid #868383;
}
form fieldset div label{
    font-size: 0.7em;
}

.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    justify-content: flex;
    align-items: center;
}

.navbar > div{
    width: 80%;
    height: 100%;
    display: flex;
    padding: 0px 75px;
    align-items: center;
}


.signin button{
    padding: 14px 18px;
    border-radius: 4px;
    outline: 1px solid #ccc;
    border: none;
    background-color: var(--var-secondary);
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.signin button:hover{
    background-color: var(--var-secondary);
    opacity: 0.8;
}

.signin header h2{
    font-size: 1.5rem;
    font-weight: 400;
}

.signin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
